AudioWorkstation/Guest/Sources/VultDSP/*.cpp linguist-generated
AudioWorkstation/Guest/Sources/VultDSP/*.h linguist-generated
AudioWorkstation/Guest/Sources/VultDSP/**/*.vult linguist-generated
AudioWorkstation/Guest/Sources/dlmalloc/** linguist-vendored
